[submodule "nvboard"]
	path = nvboard
	url = git@github.com:NJU-ProjectN/nvboard.git
[submodule "yosys-sta"]
	path = yosys-sta
	url = git@github.com:OSCPU/yosys-sta.git
[submodule "fceux-am"]
	path = fceux-am
	url = git@github.com:NJU-ProjectN/fceux-am.git
[submodule "am-kernels"]
	path = am-kernels
	url = git@github.com:Agonisia/my-am-kernels.git
[submodule "npc/chisel"]
	path = npc/chisel
	url = git@github.com:Agonisia/my-chisel-for-ysyx.git
[submodule "rt-thread-am"]
	path = rt-thread-am
	url = git@github.com:Agonisia/my-rt_thread-for-ysyx.git
